
.ant-select-selector {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px 18px;
  height: 100% !important;
  background-color: rgba($color: #000000, $alpha: 0) !important;
  border: none;
}



.ant-space-item{
  width: 100% !important;
}
.ant-select{
  color: rgba($color: #000000, $alpha: 0) !important;
}   
.focus{
  :hover{
    border: 0 !important;
  }
  :focus{
    border: none !important;
  }
}
.i::-webkit-outer-spin-button,
.i::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: #0a377e;
  margin: 0;
}
.i{
  & > div{
    border-radius: 4px !important;
    
    :focus{
      border-color: #26AF60 !important;
      box-shadow: none !important;

    }
  }
  & > div:hover{
      border-color: #26AF60 !important;
      box-shadow: none !important;
  }
  & > div:focus{
      border-color: #26AF60!important;
      box-shadow: none !important;
  }

 
  & > div:focus-within{
      border-color: #26AF60!important;
      box-shadow: none !important;
  }

}


