.scroll {
    overflow: auto;
    scroll-behavior: smooth;
    margin: 0 !important;
    max-width: 1625px;
}
.sclollLight{
    overflow: auto;
    margin: auto;
    width: 1008px;
    scroll-behavior: smooth;
    margin: 0 !important;
    
}
.sclollLight::-webkit-scrollbar {
    height: 5px;
}
.scroll::-webkit-scrollbar {
    height: 5px;
}
.sclollLight::-webkit-scrollbar-thumb {
    background-color: #a0aec0;
    /* Цвет бегунка (ползунка) */
    border-radius: 40rem;
    /* Закругление углов бегунка (ползунка) */
}
.scroll::-webkit-scrollbar-thumb {
    background-color: #a0aec0;
    /* Цвет бегунка (ползунка) */
    border-radius: 40rem;
    /* Закругление углов бегунка (ползунка) */
}

.fadeInOut {
    transition: 1s;
    
}
.blockNone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 312px;
    opacity: 0;
    transition: opacity .3s ease;
    margin: 5px 0;
    gap: 32px;

}
.blockFlex{
    opacity: 1;
    transition: opacity .3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 312px;
    margin:5px 0;
    gap: 32px;
}