.miniTable  .ant-table-body .ant-table-content  {
  /* Ваши стили для области с полосой прокрутки */
  overflow-y: auto!important; /* Показать вертикальную полосу прокрутки */
}

.miniTable .ant-table-body .ant-table-content ::-webkit-scrollbar {
  width: 8px!important; /* Ширина полосы прокрутки */
}

.miniTable  .ant-table-body .ant-table-content ::-webkit-scrollbar-thumb {
  background-color: red!important; /* Цвет тумбы (ползунка) */
  border-radius: 4px!important; /* Округление углов тумбы */
}

.miniTable  .ant-table-body .ant-table-content ::-webkit-scrollbar-thumb:hover {
  background-color: red!important; /* Цвет тумбы при наведении курсора */
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 0!important;
  text-align: center!important;

  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}