
.largeTable div::-webkit-scrollbar {
  height: 8px;
  width: 4px; /* Ширина полосы прокрутки */
}

.largeTable div::-webkit-scrollbar-thumb {
  background-color: #C1C1C1; /* Цвет тумбы (ползунка) */
  border-radius: 4px; /* Округление углов тумбы */
}

.largeTable div::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Цвет тумбы при наведении курсора */
}

.largeTable div{
  border-top: none !important;
  border-inline-start: none !important;
}

.largeTable thead td,
.largeTable thead th
{
  background: white!important;
}

.largeTable td,
.largeTable th {
  padding-block: 0 !important;
  height: 40px;
  padding-inline: 0 !important;
  text-align: center!important;
  background: transparent!important;
}


.largeTable tbody tr:nth-child(12n + 2)
{
  background: #FAFAFA!important;
  pointer-events: none;
  font-size: 16px;
}

.largeTable tbody tr:nth-child(14n + 5)
{
  background: #FAFAFA!important;
  pointer-events: none;
  font-size: 16px;
}
.inputForTable::-webkit-outer-spin-button,
.inputForTable::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: #0a377e;
  margin: 0;
}

.inputForTable{
  height: 38px;
}


