
.table div::-webkit-scrollbar {
  height: 8px;
  width: 4px; /* Ширина полосы прокрутки */
}

.table div::-webkit-scrollbar-thumb {
  background-color: #C1C1C1; /* Цвет тумбы (ползунка) */
  border-radius: 4px; /* Округление углов тумбы */
}

.table div::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Цвет тумбы при наведении курсора */
}

.table div{
  border-top: none !important;
  border-inline-start: none !important;
}

.table thead td,
.table thead th
{
  background: white!important;
}

.table td,
.table th {
  padding-block: 0 !important;
  height: 40px;
  padding-inline: 0 !important;
  text-align: center!important;
  background: transparent!important;
}




.inputForTable::-webkit-outer-spin-button,
.inputForTable::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: #0a377e;
  margin: 0;
}

.inputForTable{
  height: 38px;
}

