.largeTableVat tbody td tr:nth-child(14n + 1),
.largeTableVat tbody td tr:nth-child(14n + 4),
.largeTableVat tbody td tr:nth-child(14n + 13)
{
  background: #FAFAFA;
  pointer-events: none;
  font-size: 17px!important;
  font-weight: 500;
}

.largeTable tbody td tr:nth-child(14n + 1),
.largeTable tbody td tr:nth-child(14n + 3),
.largeTable tbody td tr:nth-child(14n + 11)
{
  background: #FAFAFA;
  pointer-events: none;
  font-size: 17px!important;
  font-weight: 500;
}


.inputStyle::-webkit-outer-spin-button,
.inputStyle::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


















@media print {
  table {
    background-color: #F4F4F4B2; /* Задайте желаемый серый цвет фона для таблицы */
  }

  .fc1{
    background-color: #F4F4F4B2; /* Задайте желаемый серый цвет фона для элементов .fc1, .fc2, .fc3 и .fc4 */
  }
  .fc2{
    background-color: #F4F4F4B2; /* Задайте желаемый серый цвет фона для элементов .fc1, .fc2, .fc3 и .fc4 */
  }
  .fc3{
    background-color: #F4F4F4B2; /* Задайте желаемый серый цвет фона для элементов .fc1, .fc2, .fc3 и .fc4 */
  }
  .fc4 {
    background-color: #F4F4F4B2; /* Задайте желаемый серый цвет фона для элементов .fc1, .fc2, .fc3 и .fc4 */
  }

  /* Дополнительные стили для input-элементов в режиме печати */
  input {
    background-color: #F4F4F4B2; /* Задайте желаемый серый цвет фона для input-элементов в режиме печати */
    color: black; /* Задайте желаемый цвет текста для input-элементов в режиме печати */
  }
}

// .fc1{
//   :focus{
//     background-color  : #F4F4F4B2;

//   }
// }