/* .date::-webkit-datetime-edit-fields-wrapper,
.date::-webkit-datetime-edit-text {
    color: transparent;
}

.date::-webkit-datetime-edit-month-field::before,
.date::-webkit-datetime-edit-day-field::before,
.date::-webkit-datetime-edit-year-field::before {
    color: gray;
    content: 'дд.мм.гг';
} */