.sidebar {
  height: calc(100vh - 59px) !important;
}

/*.layout {
  height: calc(100vh - 59px) !important;
}*/

.disable {
  color: #B6B6B6;
  pointer-events: none;
  font-weight: 500;
  user-select: none;
}

.link {
  outline: none;
 // text-decoration: none;
  padding: 2px 1px 0;
  font-weight: 500;
  user-select: none;
}

.link:link {
  color: #B6B6B6;
}

.link:visited {
  color: black;
}

.link:focus {
  color: #26AF60;
}

.link:hover {
  color: #B6B6B6;
}

.link:active {
  color: #26AF60;
}

.linkAdmin {
  outline: none;
  // text-decoration: none;
  padding: 2px 1px 0;
  font-weight: 500;
  user-select: none;
}

.linkAdmin:link {
  color: black;
}

.linkAdmin:visited {
  color: black;
}

.linkAdmin:focus {
  color: #26AF60;
}

.linkAdmin:hover {
  color: #B6B6B6;
}

.linkAdmin:active {
  color: #26AF60;
}
