
.buttonStyle{
  @apply   flex justify-center items-center border border-lightGray rounded-[6px]
  hover:shadow-md hover:shadow-lightGray
}
.ant-form-item:where(.css-dev-only-do-not-override-1sn0ohr) {
  margin-bottom: 0 !important;
}