.spinner{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading {
    width: 50px;
    height: 50px;
    border: 5px solid green; /* Light grey */
    border-top: 5px solid rgb(255, 255, 255); /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }