
.scroll {

  overflow: auto;
  scroll-behavior: smooth;
  width: 62.2rem;
  margin: 0 !important;
  position: relative;
}

.scroll::-webkit-scrollbar {
  height: 8px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  /* Цвет бегунка (ползунка) */
  border-radius: 40rem;
  /* Закругление углов бегунка (ползунка) */
}