.i::-webkit-outer-spin-button,
.i::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: transparent;
  margin: 0;
}

.i {
  padding-left: 18px;
  padding-right: 18px;
  height: 46px;
}

.textArea::-webkit-outer-spin-button,
.textArea::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: #0a377e;
  margin: 0;
}

.textArea {
  @apply w-full h-[92px] bg-[#F7F7F7] rounded-[3px] p-[10px] outline-none border-none
  hover:border-green focus:border-green   focus:shadow-none
}



