.i::-webkit-outer-spin-button,
.i::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #0a377e;
    margin: 0;
}

.scroll {
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    scroll-behavior: smooth;
}
.scroll::-webkit-scrollbar {
    width: 10px;
}

// "flex items-center overflow-x-auto whitespace-nowrap w-[54.5rem]"