.table {
  width: 100%;
}

.body {
  background: #EFEFEF;

  tr:nth-child(odd) {
    background: white;
  }

  tr:nth-child(1) {
    div {
      padding-left: 6px  !important;
      font-weight: bold;
    }
  }

  tr:nth-child(6) {
    div {
      padding-left:6px  !important;
      font-weight: bold;
    }
  }

  tr:nth-child(15) {
    div {
      padding-left: 6px  !important;
      font-weight: bold;
    }
  }

  tr:nth-child(17) {
    div {
      padding-left: 6px !important;
    }
  }
  tr:nth-child(30) {
    div {
      font-weight: bold;
    }
  }
  tr:nth-child(43) {
    div {
      font-weight: bold;
    }
  }
  tr:nth-child(45) {
    div {
      font-weight: bold;
      padding-left: 6px !important;
    }
  }
}
