/*.ant-table-cell {
  padding: 0 !important;
}

th.ant-table-cell {

  padding-inline: 25px !important;
  text-align: center;
  !*background: transparent !important;*!

}

td.ant-table-cell {
  !* background: transparent !important;*!
  overflow: hidden;
  height: 38px !important;
}

.miniTable > td.ant-table-cell:hover {
  background: #F7F7F7 !important;

}*/

/*
.miniTable{
  padding: 0!important;
  margin: 0!important;
}

.miniTable td,
.miniTable th {
  padding: 0;
}
*/
