.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    /*background-color: rgba(0,0,0,0.4);*/
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
 /*   transform: scale(0);*/
}


.active {

    background-color: transparent;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    z-index: 10;
}

.newEventContent {
    width: 632px;

    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 2px 25px rgba(136, 136, 136, 0.35);
    border-radius: 8px;

}

.body {
    display: grid;
    grid-template-rows: 1fr;
    gap: 16px;
}

.newEventContent h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    color: rgba(46, 46, 46, 0.5);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 16px;

}

.header h2 {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 23px;

    color: #2E2E2E;
}

.eventBtn {
    background-color: transparent;
    border: none;
}

.titleInput,.place select {
    padding-left: 16px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(46, 46, 46, 0.2);
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

}

.time {
    display: grid;
    grid-template-columns: 232px 162px 1fr;
    gap: 8px;
    align-items: center;
}

