@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hoverAnimation {
  @apply transition ease-linear  scale-100 hover:scale-95 cursor-pointer
}
.container {
  @apply max-w-[345px] md:max-w-[760px] xl:max-w-[1110px] md:px-[30px] xl:py-[80px];
}

@import './assets/scss/app';
@import './assets/scss/app';

