.hoverAnimation {
  @apply transition ease-linear  scale-100 hover:scale-95 cursor-pointer
}
.container {
  @apply p-[20px] md:p-[40px] overflow-hidden
}
.content{
  @apply flex  justify-center px-[16px] py-[50px]
  }

.inputStyle{
  @apply text-base text-gray font-inter border-[lightGray] shadow w-[400px] md:w-[550px] lg:w-[640px]  h-[46px]
  rounded-[6px] px-[18px] hover:border-green focus:border-green
}
.buttonStyle{
  @apply   flex justify-center items-center border border-lightGray rounded-[6px]
  hover:shadow-md hover:shadow-lightGray
}


.scrollStyle::-webkit-scrollbar {
  width: 24px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color:transparent;
}

/* ползунок скроллбара */
.scrollStyle::-webkit-scrollbar-thumb {
  background-color: #C1C1C1;
  border-radius: 9em;
}



