
.row {
    overflow: auto!important;
  }
  
  .row ::-webkit-scrollbar {
    width: 12px!important; /* Измените ширину полосы прокрутки по желанию */
  }
  
  .row ::-webkit-scrollbar-thumb {
    background-color: blue!important; /* Измените цвет тумбы (ползунка) */
    border-radius: 6px!important; /* Измените округление углов тумбы */
    
  }
  
  .row ::-webkit-scrollbar-thumb:hover {
    background-color: green!important; /* Измените цвет тумбы при наведении курсора */
  }

  .scroll {
    overflow: auto;
    scroll-behavior: smooth;
    width: 62.2rem;
    margin: 0 !important;
  }
  .scroll::-webkit-scrollbar {
    height: 8px;
  }
  .scroll::-webkit-scrollbar-thumb {
    background-color: #a0aec0;
    /* Цвет бегунка (ползунка) */
    border-radius: 40rem;
    /* Закругление углов бегунка (ползунка) */
  }